<!doctype html>
<html>
<head>
	<title>Game Over!</title>
</head>
<body>
	<h3>Hello, {{name}}. You have no money left, the game is over</h3>
	<br>

	<form action='/newGame' method='post'>
		<input type="submit" value="New Game">
	</form>
</body>

	

</html>