<!doctype html>
<html>
<head>
	<title>Server Post request test</title>
</head>
<body>
	<h3>This page is just to test a POST from the server with open weather API. </h3>
	<br>

	<form action='/postTest' method='post'>
		Zip code:
		<input type="text" name="zip">
		<input type="submit" value="postTest">
	</form>
</body>

	

</html>