<!doctype html>
<html>
<head>
<script> console.log('page rendered') </script>
	<title>Welcome to the guess the Weather Game!</title>
</head>
<body>
	<h3>Hello, please enter your name. You start with $15 and win 3 dollars for a correct guess and lose 1 dollar for an incorrect guess</h3>
	<h3>You will guess the temperature in a random city, if you are within 5 degrees fahrenheit you will win.</h3>
	<br>
	{{body}}
	<form action='/' method='post'>
		Name:
		<br>
		<input type="text" name="name">
		<input type="submit" value="New Game">
		<br>
	</form>
		

</body>

	

</html>